{% extends "blog/base.html" %}
{% block content %}
    <h1 class="mx-3 my-1 px-3 py-1" href="#">
        <span class="text-success">Posts written by : </span>{{ view.kwargs.username }}
        <span class="text-muted"> (count : {{ page_obj.paginator.count }})</span>
        <img class="rounded-circle align-right" src="{{ post.author.profile.image.url }}" height="70px" width="70px">
        {% for post in posts %}
            <img class="rounded-circle align-right" src="{{ post.author.profile.image.url }}" height="70px" width="70px">
        {% endfor %}
    </h1>
    <div class="d-flex flex-wrap m-4 justify-content-center">
        {% for post in posts %}
            <div class="col-md-5 alternate-bg rounded-right rounded-bottom m-4">
                <div class="d-flex justify-content-around py-lg-3">
                    <div>
                        <a class="mx-3 my-1 text-decoration-none px-3 py-1 text-info" href="{% url 'user_post' post.author.username %}">{{ post.author }}</a>
                        <a class="my-1 py-1 text-decoration-none display-6" href="{% url 'post_detail' post.id %}"><div class="mx-3 my-1 px-3 py-1">{{ post.title }}</div></a>
                    </div>
                </div>
                <hr style="width: 90%; justify-content: center; margin: auto">
                <p class="mx-3 mb-0 px-3 pt-2">Published on : {{ post.date_posted|date:"F d, Y" }}</p>
                <hr style="width: 90%; justify-content: center; margin: auto">
                <h4 class="mx-3 mt-0 px-3 pt-3">CONTENT : </h4>
                <p class="mx-3 mt-0 px-3 py-3">{{ post.content }}</p>
        </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
        <div class="d-flex justify-content-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary text-center mx-2 btn-sm" href="?page=1">FIRST</a>
                <a class="btn btn-outline-primary text-center mx-2 btn-sm" href="?page={{ page_obj.previous_page_number }}">PREVIOUS</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-primary text-center mx-2" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
                    <a class="btn btn-outline-primary mx-2 text-center" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-primary mx-2 text-center btn-sm" href="?page={{ page_obj.next_page_number }}">NEXT</a>
                <a class="btn btn-outline-primary mx-2 text-center btn-sm" href="?page={{ page_obj.paginator.num_pages }}">LAST</a>
            {% endif %}

        </div>
    {% endif %}
{% endblock content %}
