{% extends "main_product.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <h1><b>VIEW CATEGORY PAGE</b></h1><hr>
        <div class="py-3">
            <ul>
                {% for category in categories %}
                    <div class="py-3 d-flex justify-content-between">
                        <li><a class="text-decoration-none text-dark" href="#">{{ category.name }}</a></li>
                        {% if user.is_superuser %}
                            <a href="{% url 'edit_category' category.id %}"><button class="btn btn-light"> EDIT </button></a>
                            <a href="{% url 'delete_category' category.id %}"><button class="btn btn-light"> DELETE </button></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </ul><hr>
            <div class="d-flex justify-content-between">
                {% if user.is_superuser %}
                    <a href="{% url 'dashboard_admin' %}"><button class="btn btn-light"> HOME </button></a>
                    <a href="{% url 'add_category' %}"><button class="btn btn-light"> ADD ANOTHER </button></a>
                {% else %}
                    <a href="{% url 'bill_user_home' %}"><button class="btn btn-light"> HOME </button></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
