{% extends "billing/main_user_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="m-2 p-2" style="height: 100vh;">
        <div class="content-section card">
            <h1 class="p-4">Your Issue noted !!</h1>
            <h2 class="p-4">Thank you for reaching out!</h2>
        </div>
        <div class="py-3 form-group btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
            <a class="btn btn-primary" href="{% url 'bill_user_home' %}" type="submit">HOME PAGE</a>
        </div>
    </div>
{% endblock content %}


