{% extends "billing/main_user_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="m-2 p-2" style="height: 100vh;">
        <div class="content-section card">
            <h1 class="p-4">User Issue</h1>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group container">
                    <legend class="border-bottom mb-3"></legend>
                    <div class="container px-3 mx-2">
                        {{ form|crispy }}
                    </div>
                </fieldset>
                <div class="form-group btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
                    <button class="btn btn-primary" type="submit">SUBMIT ISSUE</button>
                </div>
                <br>
            </form>
        </div>
    </div>

    <br><br><br>
{% endblock content %}


