{% extends "main_product.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="p-3"><b>Product : {{ product.name }}</b></h2><hr><hr>
     <form>
        <fieldset class="form-group container">
            <div class="py-4">
                {{ form|crispy }}
                <div class="d-flex justify-content-around">
                    <a ><button class="btn btn-outline-primary bg-light my-3" type="submit" href="/">UPDATE</button></a>
                    <a href="{% url 'view_prdt' %}">
                        <button class="btn btn-outline-primary bg-light" type="button">ALL PRODUCT</button>
                    </a>
                    <a href="{% url 'view_detail_prdt' product.id %}">
                        <button class="btn btn-outline-primary bg-light" type="reset" href="/">CANCEL</button>
                    </a>
                </div>
            </div>
        </fieldset>

    </form>

{% endblock content %}
