{% extends "main_html.html" %}
{% block content %}


    <div class="container">
      <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-4 col-md-12"></div>
        <div class="col-lg-4 col-md-6">
            <img src="https://th.bing.com/th/id/OIP.dyH31_g1X78x4tpXsMoK6QHaF7?rs=1&pid=ImgDetMain"
                 class="rounded my-3 mx-auto d-block" alt="..." height="200" width="200">
        </div>
        <div class="col-lg-4 col-md-6">
            <a class="my-2 mx-3 d-flex justify-content-center rounded text-decoration-none bg-success"
               href="{% url 'home_page' %}">
                <button class="mx-3 my-2 btn btn-success align-center"> HOME </button>
            </a>
        </div>
      </div>
    </div>



    <div class="card container pb-4 mb-3" style="margin-top: auto; height: 100%; width: 100%">
        <h2 class="d-flex justify-content-center py-4">ABOUT QUICK CART HUB GROCERY MART</h2>
        <div class="container bg-success pb-4">
            <div class="row text-light justify-content-center pt-3 px-3 rounded">
                <P class=" text-justify"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto aspernatur assumenda cumque debitis distinctio eos error esse
                    exercitationem fugiat inventore ipsa laboriosam magnam modi molestiae nemo nihil nisi odio, omnis praesentium quae quas qui quod ratione repellendus
                    repudiandae rerum soluta sunt tenetur totam ullam vel voluptas voluptate? Corporis esse fugiat ipsam itaque libero, magni minus qui ratione
                    reprehenderit voluptate. Accusamus animi aut cum deleniti deserunt dolor dolorem doloribus, ducimus eius excepturi expedita fugit harum id in
                    incidunt ipsa iure labore laborum molestiae nemo nesciunt nisi nostrum nulla officia optio possimus quas quibusdam quos recusandae repellat sint
                    tempora velit veniam veritatis vero vitae voluptas. Assumenda beatae cupiditate error excepturi itaque nam quo repellendus vitae! Ab adipisci
                    culpa cumque, dicta dignissimos dolor eaque earum enim error iure maxime non odit officia officiis omnis perspiciatis quisquam quos recusandae
                    sapiente sequi, soluta sunt suscipit tempore temporibus veniam voluptate. Ab animi consectetur dicta ducimus esse eveniet ex explicabo facere ipsam
                    iste iure laborum laudantium necessitatibus nemo nulla officia officiis optio praesentium quae, quia quibusdam quos rem rerum suscipit unde voluptas
                    voluptate. Adipisci autem consequatur dolor dolorem expedita magnam minus nostrum rem sint soluta? A ad aliquam aperiam at, aut, distinctio dolorum
                    eos expedita fugit iure iusto laborum magni neque nisi pariatur porro praesentium, sapiente sunt tempore voluptatibus? Autem deleniti eaque est fuga
                    pariatur soluta! Cum dolorem expedita ipsa nobis possimus tempora ullam voluptatum! Ad alias aliquid animi culpa cum dolores eos eum, fugit, maxime
                    placeat quia repudiandae sint, suscipit tenetur totam veniam voluptate.` </P>
                <P> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto aspernatur assumenda cumque debitis distinctio eos error esse
                    exercitationem fugiat inventore ipsa laboriosam magnam modi molestiae nemo nihil nisi odio, omnis praesentium quae quas qui quod ratione repellendus
                    repudiandae rerum soluta sunt tenetur totam ullam vel voluptas voluptate? Corporis esse fugiat ipsam itaque libero, magni minus qui ratione
                    reprehenderit voluptate. Accusamus animi aut cum deleniti deserunt dolor dolorem doloribus, ducimus eius excepturi expedita fugit harum id in
                    incidunt ipsa iure labore laborum molestiae nemo nesciunt nisi nostrum nulla officia optio possimus quas quibusdam quos recusandae repellat sint
                    tempora velit veniam veritatis vero vitae voluptas. Assumenda beatae cupiditate error excepturi itaque nam quo repellendus vitae! Ab adipisci
                    culpa cumque, dicta dignissimos dolor eaque earum enim error iure maxime non odit officia officiis omnis perspiciatis quisquam quos recusandae
                    sapiente sequi, soluta sunt suscipit tempore temporibus veniam voluptate. Ab animi consectetur dicta ducimus esse eveniet ex explicabo facere ipsam
                    iste iure laborum laudantium necessitatibus nemo nulla officia officiis optio praesentium quae, quia quibusdam quos rem rerum suscipit unde voluptas
                    voluptate. Adipisci autem consequatur dolor dolorem expedita magnam minus nostrum rem sint soluta? A ad aliquam aperiam at, aut, distinctio dolorum
                    eos expedita fugit iure iusto laborum magni neque nisi pariatur porro praesentium, sapiente sunt tempore voluptatibus? Autem deleniti eaque est fuga
                    pariatur soluta! Cum dolorem expedita ipsa nobis possimus tempora ullam voluptatum! Ad alias aliquid animi culpa cum dolores eos eum, fugit, maxime
                    placeat quia repudiandae sint, suscipit tenetur totam veniam voluptate.` </P>

            </div>
        </div>
    </div>
{% endblock %}
