{% extends "main_html.html" %}
{% block content %}
    <img src="https://th.bing.com/th/id/OIP.dyH31_g1X78x4tpXsMoK6QHaF7?rs=1&pid=ImgDetMain"
         class="rounded my-3 mx-auto d-block" alt="..." height="200" width="200">
    <div class="card container bg-danger" style="margin-top: auto; height: 100%; width: 100%">
        <div class="container">
            <div class="row justify-content-center rounded">
                <a class="my-2 mx-3 col-md-4 d-flex justify-content-center rounded text-decoration-none bg-success"
                   href="{% url 'user_login2' %}">
                    <button class="mx-3  my-2  btn btn-success align-center">  USER LOG IN </button>
                </a>

                <a class="my-2 mx-3 col-md-4  bg-success d-flex rounded justify-content-center text-decoration-none"
                   href="{% url 'register' %}">
                    <button class="mx-3  my-2 btn btn-success"> USER REGISTRATIONS </button>
                </a>

                <a class="my-2 mx-3 col-md-4 d-flex justify-content-center rounded text-decoration-none bg-success"
                   href="#">
{#                   href="{% url 'admin_login' %}">#}
                    <button class="mx-3  my-2  btn btn-success align-center">  ADMIN LOG IN </button>
                </a>

                <a class="my-2 mx-3 col-md-4  bg-success d-flex rounded justify-content-center text-decoration-none"
                   href="#">
                    <button class="mx-3  my-2 btn btn-success"> ABOUT QUICK CART HUB </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
