{% extends "admin/main_admin_nav.html" %}
{% block content %}
    <div class="bg-success">
        <div class="card container bg-danger" style="margin-top: auto; height: 100%; width: 100%">
            <div class="container">
                <div class="row justify-content-center rounded">
                    <a class="my-2 mx-3 col-md-4 d-flex justify-content-center rounded text-decoration-none bg-success"
                       href="#">
                        <button class="mx-3  my-2  btn btn-success align-center"> A </button>
                    </a>

                    <a class="my-2 mx-3 col-md-4  bg-success d-flex rounded justify-content-center text-decoration-none"
                       href="#">
                        <button class="mx-3  my-2 btn btn-success"> B </button>
                    </a>

                    <a class="my-2 mx-3 col-md-4 d-flex justify-content-center rounded text-decoration-none bg-success"
                       href="#">
    {#                   href="{% url 'admin_login' %}">#}
                        <button class="mx-3  my-2  btn btn-success align-center">  C </button>
                    </a>

                    <a class="my-2 mx-3 col-md-4  bg-success d-flex rounded justify-content-center text-decoration-none"
                       href="#">
                        <button class="mx-3  my-2 btn btn-success"> D </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock content %}
