{% extends "admin/main_admin_nav.html" %}
{% block content %}
    <div class="container mt-5">
        <h2>List of Users</h2>
{#        <p>{{ request.build_absolute_uri }}</p>#}
        <table class="table table-bordered text-center">
            <tbody>
            {% for user in users %}
                {% if request.user == user %}
                    <tr  class="bg-success">
                        <td class="bg-success">{{ user.id }}</td>
                        <td class="bg-success">{{ user.username }}</td>
                        <td class="bg-success">{{ user.email }}</td>
                        <td class="bg-success">{{ user.is_superuser }}</td>
                        <td class="bg-success">{{ user.is_staff }}</td>
                        <td class="bg-success">{{ user.date_joined }}</td>
                        <td colspan="2" CLASS="text-muted">no action</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.is_superuser }}</td>
                        <td>{{ user.is_staff }}</td>
                        <td>{{ user.date_joined }}</td>
                        {% if user.is_active %}
                            {% if user.is_staff %}
                                <td colspan="2">APPROVED ADMIN</td>
                            {% else %}
                                <td> APPROVED </td>
                            {% endif %}
                        {% else %}
                            {% if not user.is_staff %}
                                <td>
                                    <div>
                                        <a class="btn btn-primary" href="{% url 'approve_user' user.id %}"> APPROVED </a>
                                        <a class="btn btn-success" href="{% url 'reject_user' user.id %}"> REJECT </a>
                                    </div>
                                </td>
                            {% endif %}
                        {% endif %}

                        {% if user.is_staff != 1 %}
                            <td><a class="btn btn-danger" href="{% url 'delete_user' user.id %}">DELETE</a></td>
                        {% endif %}
                    </tr>

                {% endif %}
            {% endfor %}
            </tbody>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Is Superuser</th>
                    <th>Is Staff</th>
                    <th>Date Joined</th>
                    <th>Is Approved</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}




