{% extends "admin/main_admin_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL ID</th>
                <th scope="col" colspan="3">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% if user.is_superuser %}
                    {{ pass }}
                {% else %}
                    <tr>
                      <th scope="row">{{ user.id }}1</th>
                      <td>{{ user.username }}</td>
                      <td>{{ user.email }}</td>
                      <td> EDIT </td>
                      <td> DELETE </td>
                      <td> APPROVE </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br><br><br>
{% endblock content %}

