{% extends 'billing/main_user_nav.html' %}
{% block content %}
    <h1>Prepare Bill</h1>
    <div class="product-list">
        <h2>Products</h2>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <form action="{% url 'prepare_bill' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{ product.id }}">
                        <input type="number" name="quantity" value="0">
                        <button type="submit">Add to Cart</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="cart">
        <h2>Cart</h2>


        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart_items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    <form action="{% url 'remove_from_cart' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <form action="{% url 'generate_invoice' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-warning" type="submit">Generate Invoice</button>
        </form>
    </div>
{% endblock %}
